.notice:has(.share-folder-status-error) {
    background: #c10000;
    color: white
}

.notice:has(.share-folder-status-info) {
    background: hsl(204, 86%, 53%);
    color: white
}

.notice:has(.share-folder-status-success) {
    background: #629762;
    color: white
}
.notice:has(.share-folder-status-success) a {
    color: white;
    text-decoration: underline;
}
